/* style.css */

:root {
  /* Base Settings */
  font-size: 1em; /*browser's default of 16 px*/
}

.router-link-active {
  font-weight: bold;
  color: var(--primary-color, #007bff);
}

/* x-components */
.x-button {
  margin: 3px;
}

.x-input {
  margin-top: 5px;
  margin-bottom: 5px;
}

.x-checkbox {
  margin-top: 5px;
  margin-bottom: 5px;
}

.x-label{
  margin-top: 5px;
  /*margin-bottom: 5px;*/
}

.x-section {
    margin-bottom: 10px;
   margin-top: 5px;
}

/* MARKDOWN */

.xmarkdown h1 {
    color:  #ffc107;
    font-weight: bold;
}

.xmarkdown h2 {
    color:  #ffed8e;
    font-weight: bold;
}

.xmarkdown h3 {
    color:  #07a2ff;
}